<div class="row">
  <div class="col-sm-4 mt-3" *ngFor="let album of albums;">
    <div class="card text-center">
      <div class="card-body">
        <h1>Album titel:</h1>
        <a class="card-title link-info" [routerLink]="['/albums', album.id ]">{{ album.title }}</a>
        <h2>Eerste {{ photoCount }} fotos:</h2>
        <ol>
          <li *ngFor="let photo of getFilteredPhotos(album.id);">
            {{ photo.title }}
          </li>
        </ol>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
